/* @import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@394&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

--root {
    --bg-clr:#f5f7fb
}

body {
    background-color: var(--bg-clr);
    color: #222;
    line-height: 1.6;
    font-family: 'Poppins';font-size: 16px;


}

/* Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 18px 6%;
    background-color: #fff;
    z-index: 100;
    box-shadow:0 2px 8px rgba(0,0,0,0.06);
}
.logo a{
    font-size: 1.563rem;
    font-weight: 700;
    color: #007bff;
    text-decoration: none;
}

/* links*/
.nav-links{
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
    gap: 32px;

}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;

}
.nav-links a:hover {
    color: #007bff;
}

/* Nav right side */
.nav-right {
    display: flex;
    gap:  30px;
    align-items: center;
}

.btn {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 9px 16px;
    border-radius: 8px;
    display: inline-block;

}
.btn.small {
    font-size: 14px;
    padding: 8px 12px;
}
.btn.outline{
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0px;
}
/* 
Mediaa Qureyy nabar */

@media ( max-width: 768px ){

    .nav-links {
        display: none;
        background-color: #fff;
        position: absolute;
        width: 100%;
        right: 0px;
        flex-direction: column;
        top: 64px;
        background-color: #007bff;
        padding: 18px 0px;

    }
    .nav-links li {
        text-align: center;
        margin: 12px 0px;
    }
    .burger {
        display: block;
    }

    .nav-active {
        display: flex !important;
    }
    .nav-right {
        gap: 8px;
    }
}

/* Login css */

.auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 80px 6%;
    background: linear-gradient(120deg, #f0f4ff , #fefefe);
}
 
.auth-container{
    /* border: 2px solid #222; */
    background: #fff;
    text-align: center;
    padding: 40px 32px;
    width: 100%;
    max-width: 420px;
    border-radius: 16px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.0) ;
    
}

.auth-container h2 {
    margin-bottom: 8px;
    color: #222;
}

.auth-container p {
    font-size: 15px;
    margin-bottom: 28px;
    color: #555;
}
.auth-form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.form-group{
    text-align: left;
}
.form-group  label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

.form-group input {
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* outline: auto; */
    width: 100%;
    padding: 12px 14px;
    transition: 0.3s;
    
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;

}

.error {
    color: red;
    font-size: 17px;

}


.form-footer {
    margin-top: 10px;
    font-size: 14px;
}

.form-footer a {
    text-decoration: none;
    color: #007bff;
}

.form-footer a:hover {
    text-decoration: underline;
}



@media ( max-width: 480px){

    .auth-container {
        padding: 32px 24px;
    }
}


/* Sign Up form */
.auth-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 6%;
    background: linear-gradient(90deg, #f0f4ff , #fefefe);
    min-height: 90vh;   

}

.auth-container{
    max-width: 420px;
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.06);
    width: 100%;
    text-align: center;
}

.auth-container h1 {
    text-align: center;
    margin-bottom: 25px;
}

 .auth-container form label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 10px;
 }
 .auth-container form input {
    max-width: 430px;
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;

 }
 .auth-container form input:focus {
    outline: none;
    border-color: #007bff;
 }
 .auth-container button {
    width: 100%;
    padding:10px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    cursor: pointer;
    color: white;
 }

 .auth-container button:hover {
    background:#0056b3;
 }

 .auth-container p {
    margin-top: 10px;
    text-align: center;
 }

 /* Hero sectionnnnnnnnnnnnn */

 .hero{
    padding: 60px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    flex-wrap: wrap;

 }
 .hero-content{
    flex: 1;
    max-width: 500px;
 }

 .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
 }

 .hero-content p {
    /* font-size: 22px; */
    margin-bottom: 25px;
 }

 .hero-content h1 , span{
    color: #007bff;
 }

 .hero-content  .btn {
    background-color: #007bff;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
 }

 .hero-content .btn:hover {
    background-color: #0056b3;
 }


 .hero-img {
    flex: 1;
    text-align: center;
 }

 .hero-img img {
    max-width: 450px;
    width: 90%;
    border-radius: 8px;
    margin-top: 40px;
    height: auto;
 }


 /* HERO RESPONSIVE */


@media (max-width : 786px){

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }
    .hero-content h1 {
        margin-top: 30px;
    }

    .hero-img img {
        width: 80%;
    }

}

@media (max-width : 480px){
    .hero-content h1 {
        font-size: 31px;
    }
    .hero-content p {
        font-size: 15px;
    }
    .hero-content .btn {
        padding: 10px 22px;
        font-size: 14px;
    }
    .hero-img img {
        width: 78%;
    }
}

/* Feature card css */

.featured {
    padding: 80px 10%;
    background-color: #fff;
    text-align: center;
}
.featured h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #007bff;
    position: relative;
}

.featured-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(230px , 1fr));
    gap: 50px;
}

.featured-card {
    padding: 20px;
    /* border: 2px solid black; */
    background-color: #fafafa;
    border-radius: 16px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.06);
    transition: 0.3s ease;

}

.featured-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}
.featured-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.featured-card p {
    font-size: 18px;
    margin-bottom: 15px;
}
.featured-card:hover{
    transform: translateY(-10px);
}

.featured-card .btn {
    padding: 14px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    
}


/* Feature card responsive */

@media ( max-width : 768px){
    .featured {
        padding: 50px 6%;
    }
    .featured h2{
        font-size: 32px;

    }
    .featured-grid {
        grid-template-columns: 1fr;
    }
    .featured-card {
        padding: 15px;
    }
    .featured-card img {
        width: 180px;
    }
    .featured-card h3 {
        font-size: 1.2rem;
    }
    .featured-card p {
        font-size: 15px;
    }
    .featured-card .btn{
        padding: 12px 22px;
    }
}
/* 📱 Tablet (481px - 768px) */


@media (min-width: 481px) and ( max-width: 768px){
    .featured {
        padding: 60px 8%;
    }
    .featured h2 {
        font-size: 27px;
    }
    .featured-card{
        padding: 18px;
    }
    .featured-card img {
        width: 200px;

    }
    .featured-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}

/* About Sectionnnn */

.about {
    padding: 100px 10%;
    background-color:#fff ;
}

.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.about-img {
    flex: 1;
    min-width: 280px;
}
.about-img img {
    width: 30%;
    border-radius: 20px ;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);

}
.about-content h2{
     font-size: 2.5rem;
     margin-bottom: 30px;
}

.about-content h2 , span {
    color: #007bff;
}

.about-content p {
    color: #333;
    line-height: 1.6;
    font-size: 22px;
    margin-bottom: 30px;
}

.about-content .btn {
    padding: 12px 22px;
    background-color: #007bff;
    cursor: pointer;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    color: #fff;
    transition: 0.3s;
}
.about-content .btn:hover {
    padding: 12px 22px;
    background-color: #0056b3;
}


@media ( max-width: 768px){
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-container h2 {
        font-size: 1.9rem;
    }
    .about-container p {
        font-size: 18px;
    }
    .about-container .btn {
        font-size: 15px;
    }
    .about-img img {
        width: 50%;
    }
}

@media (max-width: 480px){
    .about-img img {
        width: 40%;
    }
   .about-container h2 {
    font-size: 1.6rem;
   }
   .footer-container{
    flex-wrap: wrap;
   }
   .about-container p {
    font-size: 15px;
    line-height: 1.6;
   }

   .about-container .btn {
    padding: 10px 18px;
    font-size: 13px;
    font-weight: 500;
   }

}

/* Contact Form */

.contact {
    padding: 100px 10%;
    background-color: #f8f9fa;
}
.contact-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.contact-info {
    flex: 1;
    min-width: 300px;
}
.contact-info span {
    color: #333;
}

.contact-info h2 {
    font-size: 2.4rem;
    color: #333;
    margin-bottom: 20px;

}
.contact-info p {
    font-size: 20px;
    color: #333;
}
.info-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #333;
    font-size: 1rem;
}

.info-item i {
    font-size: 1.3rem;
    color: #ff6b6b;
}

.contact-form{
    flex: 1;
    /* border: 1px solid black; */
    min-width: 350px;
    background: #fff;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0px 8px  25px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
    font-size: 28px;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 14px 25px;
    margin: 10x 0px;
    gap: 20px;
    border-radius: 6px;
    margin: 12px 0px;
}

.contact-form input,
.contact-form textarea:focus {
    outline: none;
    border-color: #007bff;
}
.contact-form textarea{
    resize: none;
    height: 120px;
}

.contact-form .btn {
    width: 100%;
    padding: 14px 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: 0.3s;  
}
.contact-form .btn:hover {
    background-color: #0056b3;
}

/* Responsive 768px screeeeeeeenn */

@media ( max-width : 768px){
    .contact-container{
        flex-direction: column;
        text-align: center;
    }
    .contact-info p{
        margin-bottom: 10px;
    }
    .info-item {
        justify-content: center;
        text-align: center;
    }
   
}

@media ( max-width : 480px ){

    .contact {
        padding: 60px 5%;
    }
    .contact-info h2{
        margin-top: 20px;
        font-size: 30px;

    }
    .contact-info p {
        font-size: 17px;
    }
    .info-item {
        font-size: 14px;
        text-align: center;
    }
    .contact-form {
        padding: 25px;
    }
    .contact-form h2 {
        font-size: 23px;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 10px 20px;
    }

    .contact-form textarea {
        height: 100px;

    }
    .contact-form .btn {
        padding: 10px 20px;
    }


}

.cart-section {
    padding: 100px 10%;
    background-color: #fff;
    
}
.cart-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #007bff;
    text-align: center;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid black; */
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
}
.cart-table th , 
.cart-table td{
    text-align: center;
    border: 1px solid #222;
    padding: 15px;
}

.product-info  img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.qty-input {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.remove {
  color: #ff6b6b;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-summary{

    text-align: center;
    margin-top: 20px;
    
}
.cart-summary h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.check-out-btn {
    background-color: #007bff;
    color: white;
    padding: 13px 25px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: 0.3s;

}
.check-out-btn:hover{
    background-color: #0056b3;
}

@media ( max-width : 768px){
    .cart-section h2 {
        font-size: 30px;
    }
    .cart-table th, 
      .cart-table td{
        padding: 12px;


      }

      .product-info img {
        width: 45px;
        height: 45px;
      }

      .cart-table {
        width: 70%;
      }
}


























 footer {
    background-color: #2e59d8;
    padding: 40px 10%;
    color: #333;


 }

 .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  
 }

 .footer-content h3 {
    font-size: 26px;

 }
 
 .footer-content p {
    font-size: 18px;
    color: #aaa;
 }

 .footer-link h4,
 .footer-social h4 {
    font-size: 22px;
    margin-bottom: 10px;
 }
 .footer-link ul {
    list-style-type: none;
    /* display: flex; */
 }
 .footer-link a,
 .footer-social a {
    text-decoration: none;
    color: #aaa;
 }

 .footer-link a:hover {
    color: #007bff;
 }
 .footer-social .social-icon {

    
 }

 .footer-bottom {
    color: #777;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;

 }

 @media ( max-width : 768px){
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-link ul li {
        display: inline-block;
        margin: 0px 5px;
    }
 }