*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header{
    background-color: #333;
    color: white;
    padding: 15px 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav-links{
    list-style-type: none;
    display: flex;
}
.nav-links li{
    margin-left: 30px;
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
}
.nav-links li a:hover{
    background-color: #974002;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
}
/* toggle menu */
.hamburger{     
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    border-radius: 5px;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
/* Hero section */

#home{
   background: linear-gradient(
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)
  );
  background-image: url('./project\ _images/930-1200x700.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home h1{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
}
#home p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: auto;
}
.about-img{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}


#about{
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
    
}
.about-text h2{
    font-size: 2.2rem;
}
.about-text p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
}
.about-text {
    max-width: 400px;
}
.about-text button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.about-text button:hover {
  background: #f4b400;
}
.contact{
    background-color: #f4f4f4;
    text-align: center;
    padding: 40px;
}
.contact h2{
    margin-bottom: 20px;
    color: #333;
    font-size: 26px;
}
#contact-section{
    margin: 0 auto;
    max-width: 500px;
    /* background-color: white;
     */
     text-align: left;
     padding: 20px;
}
#contact-section label{
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;

}

#contact-section input,
#contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}
#contact-section textarea{
    min-height: 100px;
}

#contact-section button{
    width: 100%;
    padding: 12px;
    background-color:#333;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
#contact-section button:hover{
    background-color: chartreuse;
}
#error {
  margin-top: 10px;
  font-size: 14px;
}

/* produdcxt */
#Products {
    padding: 40px;
    text-align: center;
    background-color: #FAFAFA;
    /* color: pink; */
}
.pro h2{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    

}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.project-card{
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 6px;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.1);

}
.project-card img{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-fit: fit;
    border-radius: 6px;

}
.project-card h3 {
    margin: 10px 0px;

}
.project-card p{
    font-size: 15px;
    color: #555;
    margin-bottom: 10px;
}
.project-card button{
    background-color: #333;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
    border: none;

}

.project-card button:hover{
    background-color: orange;
}

/* footer */

footer{
    background-color:#222 ;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #fff;

}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-links a{
    text-decoration: none;
    margin: 0px 10px;
    color: #ddd;
}
.footer-links a:hover{
    color: #27ae60;;
}
.footer-socil a {
    text-decoration: none;
    margin: 0px 10px;
    color: #ddd;
}
.footer-socil a {
        color: #27ae60;;

}

@media (max-width: 768px) {
  .footer-container {
    gap: 10px;
  }
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}