*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';font-size: 16px;

}


:root {

    --background-color: rgba(20, 184, 255, 0.826);
    --text-color : #333;
    --link-color: rgb(82, 207, 82);
    
    
    
    --link-hover-color : #352f2fe4;

header {
    background-color: #fff;
    padding: 25px 0px;
    width: 100%;
    position: fixed;
}

    
}
.navbar  ul {
    display: flex;
    align-items: center;
    
}

.navbar  li {
    list-style-type: none;
    margin: 0px 15px;
}

.navbar ul li  a {
    text-decoration: none;
    color: var(--link-color);
}